{% extends 'base.html.twig' %}

{% block body %}
    <div class=" text-center animated fadeInDown" style="margin-top:100px;">
        <h1 class="logo-name">Soft Manager</h1>
        <a class="btn btn-sm btn-white" href="{{ path('fos_user_security_login') }}" style="width:200px;">Login</a>
    </div>
{% endblock %}
