    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Soft Manager &copy; 2013-{{ 'now'|date("Y")}}
        </div>
    </div>
</div>